NATS_SERVERS=nats://localhost:4222
NATS_TOKEN=abcdefghijklmnopqrstuvwxyz
NATS_STREAM=JOBS
NATS_CONSUMER=romusha
MIN_BACKOFF_DELAY_SECONDS=1
MAX_BACKOFF_DELAY_SECONDS=32
NUSAWORK_AUTH_TOKEN_API_URL=https://nusawork.com/api/token
NUSAWORK_AUTH_TOKEN_API_KEY=abcdef0123456789abcdef0123456789
NUSAWORK_EMPLOYEE_API_URL=https://nusawork.com/api/v4.1/employee/filter
EMPLOYEE_CHART_FILE=/tmp/employee-chart.json
EMPLOYEE_ON_DUTY_NOTIF_PIC_PHONES=[]
NUSAWORK_SCHEDULE_API_URL=https://nusawork.com/api/v2/calendar/schedule
NUSAWA_MESSAGE_API_URL=https://api.nusacontact.com/v2/messages
NUSAWA_MESSAGE_API_TOKEN=abcdef0123456789abcdef0123456789
NIS_MYSQL_HOST=localhost
NIS_MYSQL_USER=root
NIS_MYSQL_PASSWORD=""
NIS_MYSQL_DB=test
NUSAWORK_EMPLOYEE_API_V2_URL=https://nusawork.com/api/v4.2/employee/filter
NUSAWORK_EMPLOYEE_PHOTO_URL=https://nusawork.com/api/photo_profile
SURREALDB_URL=ws://localhost:8080/rpc
SURREALDB_NAMESPACE=surr
SURREALDB_DATABASE=surr
SURREALDB_USERNAME=surr
SURREALDB_PASSWORD=secret
KARMA_ALERT_URL=https://karma.nusa.net.id/alerts.json
WHATSAPP_API_URL=https://nusacontact.com/api/messages
WHATSAPP_API_TOKEN=secret
KARMA_ALERT_WHATSAPP_CONTACT=6281234567890
PPPOE_SERVERS=[]
PPPOE_SERVERS_PRIVATE_KEY='-----BEGIN RSA PRIVATE KEY-----
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
-----END RSA PRIVATE KEY-----'
PPPOE_FETHED_EVENT_SUBJECT=events.pppoe_data_fetched

ZBX_MYSQL_HOST=localhost
ZBX_MYSQL_USER=root
ZBX_MYSQL_PASSWORD=''
ZBX_MYSQL_DB=zabbix
ZBX_MYSQL_PORT=3306

ZABBIX_PSQL_HOST=localhost
ZABBIX_PSQL_USER=root
ZABBIX_PSQL_PASSWORD=''
ZABBIX_PSQL_DB=zabbix
ZABBIX_PSQL_PORT=5432
